
header {
    display: flex;
    position: relative; 
}


img {
    flex-grow: 1;
    width: 33.33%; 
    height: 200px; 
    object-fit: cover;
}


.header_text {
    position: absolute;
    top: 50%; 
    left: 33.33%; 
    right: 33.33%; 
    transform: translateY(-50%); 
    text-align: center; 
    color: black; 
    font-size: large;
    font-family: "RC-Bold";
    z-index: 2; 
    text-shadow: 0px 0px 20px white;
}

.header_text2 {
    position: absolute;
    top: 50%; 
    left: 33.33%; 
    right: 33.33%; 
    transform: translateY(-50%); 
    text-align: center; 
    color: black; 
    font-size: large;
    font-family: "RC-Bold";
    z-index: 2; 
    text-shadow: 0px 0px 20px white;
}

h1 {
    
    margin: 0; 
}